{% extends "shared/layout.html" %}

{% block content %}
    <h1>Theatre Details</h1>
    <div class="theatre-details-container">
        <div class="theatre-info">
            <h2>{{ theatre.theatre_name }}</h2>
            <p><strong>Location:</strong> {{ theatre.location }}</p>
            <p><strong>Latitude:</strong> {{ theatre.latitude }}</p>
            <p><strong>Longtitude:</strong> {{ theatre.longtitude }}</p>
        </div>
    </div>
    <a href="/theatre">Back to theatre List</a>
{% endblock %}
